.artist__box{
    width: 33%; 
    height: 400px;
    position: relative;
    margin: 4px 2px;
}

.search{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.search input{
    width: 256px;
    height: 36px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 0 10px;
}
.search input:focus {
    outline: none;
}
.artists{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}

.artist__name{
    display: block;
    padding: 5px;
    width: auto;
    background-color:rgba(25, 181, 254, 1);
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    text-align: center;
}

.artistpage__albums{
    display: flex;
    margin-top: 20px;
}

.artistpage__about{
    display: flex;
    position: relative;
}

.artistpage__about .artist__box{
    width: 30%;
}

.artistpage__bio{
    font-size: 24px;
    position: absolute;
    right: 0;
    width: 68%;
    bottom: 0;  
}

.artistpage__style{
    margin-top: 10px;
    font-size: 22px;
}

.artistpage__style span{
    color: green;
    font-weight: bold;
}

.artistpage__home{
    display: block;
    padding: 5px;
    width: auto;
    background-color:rgba(25, 181, 254, 1);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

